.Vwrapper{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 position: relative; /* Set relative positioning to create a stacking context */
}

.Vwrapper::before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.512), rgba(0, 0, 0, 0.113)),  url(../assets/cosmos.gif) no-repeat center;
  background-size: cover;
  filter: blur(10px); /* Adjust the blur amount as needed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the pseudo-element behind the content */
  pointer-events: none; /* Allow interactions with child elements */
}
.ast-header-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;   
}

.l-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 300px)); 
  justify-content: center;
  grid-gap: 2rem;
  width: 100%;
  padding: 30px;
}

@media (max-width: 776px) {
  .l-container {
    grid-template-columns: repeat(auto-fit, minmax(130px, 230px));
  }
}
@media (max-width: 400px) {
  .l-container {
    grid-template-columns: repeat(auto-fit, minmax(130px, 130px));
  }
}


.b-game-card {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 150%;
  perspective: 1000px;
 
}
.b-game-card__cover {
  border-radius: 1vw;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-size: cover;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
}
.b-game-card__cover::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
  transform: translateY(-20%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}
.b-game-card:hover .b-game-card__cover {
  transform: rotateX(7deg) translateY(-6px);
}
.b-game-card:hover .b-game-card__cover::after {
  transform: translateY(0%);
}
.b-game-card::before {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  will-change: opacity;
  transform-origin: top center;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}
.b-game-card:hover::before {
  opacity: 0.6;
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
}
  /* ADMIN CARDS */
.adteam_card{
  position: relative;
  margin: 0.6rem;
  width: 320px;
  height: 254px;
  border-radius: 10px;
  color: white;
  background-position: no-repeat center;
  background-size: cover;
  overflow: hidden;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s ease;
  /* overflow: hidden; */
}
.adteam_card-img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.adteam_name{
  margin: 1rem;
  position: absolute;
  bottom: 1rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.742);
  padding: 1rem 1rem;
  font-size: 2rem;
}

.adteam_card:hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px); /* Add blur effect */
  pointer-events: none; /* Allows hover events to pass through */
  z-index: 1;

}


.adteam_card:hover .adteamcard_delbtn  {
  display: block;
}
.adteam_card:hover .adteamcard_updtbtn  {
  display: block;
}
.adteam_card:hover .adteamcard_playerbtn  {
  display: block;
}
.adteamcard_delbtn {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 15px;
  background-color: red;
  color: white;
  border: none;
  font-size: 1.5rem;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
}
.adteamcard_updtbtn {
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 15px;
  background-color: rgb(45, 147, 190);
  color: white;
  border: none;
  font-size: 1.5rem;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
}
.adteamcard_playerbtn {
  display: none;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 15px;
  background-color: rgb(24, 159, 98);
  color: white;
  border: none;
  font-size: 1.5rem;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
}
/* Members Card */

.memb_mainwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: auto;
}
.memb_profile-cont{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: black;
}
.memb_profile-cont:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px); /* Add blur effect */
  pointer-events: none; /* Allows hover events to pass through */
  z-index: 1;
}
.memb_profile-cont:hover .update-button {
  display: block;
}
.memb_profile-cont:hover .delete-button {
  display: block;
}
.update-button {
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  background-color: rgb(52, 108, 238);
  color: white;
  border: none;
  font-size: 1rem;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
}
.memb_lower-info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  position: relative;
  bottom: 8rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(14, 14, 14, 0.641);
  z-index: 2;
}

.mem-p{
  font-size: 1.5rem;
  line-height: 5px;
}
.mem_socials-cont{
  flex-direction: row;
}
.mem_socials-btn {
  font-size: 2.5rem;
  cursor: pointer;
  margin: 0 2rem;
}
.mem_socials-btn:hover{
  color: blueviolet;
}

/* Community cards */
.community-upper-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  flex: 100%;
  flex-direction: row;
}
.community-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: 5rem 2rem;
}
.weekly-cards{
  width: 50vw;
  aspect-ratio: 1.5/1;
  background-color: white;
  margin: 2rem 1rem;
  margin-bottom: 15rem;
  border-radius: 10px;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}
.weekly-img{
  width: 100%;
  height: 100%;
}
.weekly-modal-overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.407);
  z-index: 100;
}
.weekly-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 40%;
  padding: 2rem;
 
  height: fit-content;     
  background-color: blueviolet;
  border-radius: 10px;
 
}
.weekly-qr{
  width: 20vw;
  aspect-ratio: 4/4;
  border-radius: 10px;
}
.exit_btn{
  font-size: 3em;
  color: white;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
}
.exit_btn:hover{
  color: red;
  transform: scale(1.1);
}

.social-cards{
  cursor: pointer;
  width: 45vw;
  aspect-ratio: 4/1;
  margin: 1rem 1rem;
  border-radius: 15px;
  background-size: cover;
  overflow: hidden;
  margin: 2rem 2rem;
  border: 2px solid blueviolet;
  transition: transform  ease-in-out 0.4s;
}
.social-cards:hover{
  transform: scale(1.1);

}

.input-group-weekly {
  display: flex;
  align-items: center;
}
.weekly-input {
 
  width: 8vw;
  height: 5vh;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.weeklybtn-submit {
  width: 6vw;
  height: 5vh;
  /* padding: .5em 1em; */
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.weeklybtn-submit:hover {
  background-color: #5e5dcd;
  outline: none;
}
.weekly-input:focus, .weekly-input:focus-visible {
  border: 2px solid #3898EC;
  outline: none;
}
.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.arrow {
  transition: all 0.4s ease;
}
.arrow:before, .arrow:after {
  transition: all 0.4s ease;
  content: "";
  display: block;
  position: absolute;
  transform-origin: bottom right;
  background: #fff;
  width: 4px;
  height: 50px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
.arrow:after {
  transform-origin: bottom left;
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.h1-weekly{
  font-size: 5em ;
}
.h2-weekly{
  font-size: 2em;
}
@media (max-width: 768px){
  .h1-weekly{
    font-size: 2em;
  }
  .h2-weekly{
    font-size: 1.3em;
  }
  .arrow:before, .arrow:after{
    width: 2px;
  height: 30px;
  }
  .weeklybtn-submit{
    font-size: 1em;
    width: 10vw;
    height: 4vh;
  }
  .weekly-input{
    width: 10vw;
    height: 4vh;
    font-size: 1em;
  }
}
@media (max-width: 425px){
  .h1-weekly{
    font-size: 1em;
  }
  .h2-weekly{
    font-size: 0.7em;
  }
  .weekly-input{
    font-size: 0.5em;
  }
  .weeklybtn-submit{
    font-size: 0.5em;
  }
  .exit_btn{
    font-size: 1.5em;
  }
  .arrow:before, .arrow:after{
    width: 2px;
   height: 20px;
  }
}

.career-card{
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2/1;
  margin: 2rem 1rem;
  border-radius: 10px;
  background-size: cover;
  overflow: hidden;
  border-radius: 50px;

/* box-shadow:  20px 20px 60px #26013d,
             -20px -20px 60px #26013d; */
}


