.Vwrapper{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 position: relative; /* Set relative positioning to create a stacking context */
}

.Vwrapper::before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.512), rgba(0, 0, 0, 0.113)),  url(../assets/cosmos.gif) no-repeat center;
  background-size: cover;
  filter: blur(10px); /* Adjust the blur amount as needed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the pseudo-element behind the content */
  pointer-events: none; /* Allow interactions with child elements */
}
.ast-header-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;   
}

.l-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 280px)); 
  justify-content: center;
  grid-gap: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: 30px;
}


.b-game-card {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 150%;
  perspective: 1000px;
 
}
.b-game-card__cover {
  border-radius: 1vw;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, #1c181f 0%, #211f1f 100%);
  background-size: cover;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
}
.b-game-card__cover::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
  transform: translateY(-20%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}
.b-game-card:hover .b-game-card__cover {
  transform: rotateX(7deg) translateY(-6px);
}
.b-game-card:hover .b-game-card__cover::after {
  transform: translateY(0%);
}
.b-game-card::before {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  will-change: opacity;
  transform-origin: top center;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}
.b-game-card:hover::before {
  opacity: 0.6;
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
}
  /* ADMIN CARDS */
.adteam_card{
  position: relative;
  margin: 0.6rem;
  width: 320px;
  height: 254px;
  border-radius: 10px;
  color: rgb(73, 7, 97);
  background-position: no-repeat center;
  background-size: cover;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 1s ease;
  /* overflow: hidden; */
}
.adteam_name{
  font-size: 1.5rem;
}

.adteam_card:hover::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px); /* Add blur effect */
  pointer-events: none; /* Allows hover events to pass through */
  z-index: 1;

}


.adteam_card:hover .adteamcard_delbtn  {
  display: block;
}
.adteam_card:hover .adteamcard_updtbtn  {
  display: block;
}
.adteam_card:hover .adteamcard_playerbtn  {
  display: block;
}
.adteamcard_delbtn {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 15px;
  background-color: red;
  color: white;
  border: none;
  font-size: 1.5rem;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
}
.adteamcard_updtbtn {
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 15px;
  background-color: rgb(45, 147, 190);
  color: white;
  border: none;
  font-size: 1.5rem;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
}
.adteamcard_playerbtn {
  display: none;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 15px;
  background-color: rgb(24, 159, 98);
  color: white;
  border: none;
  font-size: 1.5rem;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
}
/* Members Card */

.memb_mainwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: auto;
}
.memb_profile-cont{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: white;
}
.memb_profile-cont:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px); /* Add blur effect */
  pointer-events: none; /* Allows hover events to pass through */
  z-index: 1;
}
.memb_profile-cont:hover .update-button {
  display: block;
}
.memb_profile-cont:hover .delete-button {
  display: block;
}
.update-button {
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  background-color: rgb(52, 108, 238);
  color: white;
  border: none;
  font-size: 1rem;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
}
.memb_lower-info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  position: relative;
  bottom: 8rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(14, 14, 14, 0.641);
  z-index: 2;
}

.mem-p{
  font-size: 1.5rem;
  line-height: 5px;
}
.mem_socials-cont{
  flex-direction: row;
}
.mem_socials-btn {
  font-size: 2.5rem;
  cursor: pointer;
  margin: 0 2rem;
}
.mem_socials-btn:hover{
  color: blueviolet;
}