.player-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}
.playercard-wrap{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 300px)); 
  justify-content: center;
  grid-gap: 5rem;
  width: 70%;
  padding: 30px;
  margin-bottom: 10rem;
  
}

.pteam-header{
    font-size: 6em;
    color: white;
}

/* PLAYER CARD */
.img-card {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  image-rendering: optimizeSpeed;
  aspect-ratio: 4/5.5;
  background-size: cover;
  overflow: hidden;
  border-radius: 17px;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  transition: all 0.5s;
}

.img-card::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s;
}
.img-card:hover::before {
  opacity: 1;
 
}
.img-card:hover{
  border: 1px solid rgb(128, 0, 255);  
  transform: scale(1.05);
}
.hover-content {
  opacity: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.414);
  backdrop-filter: blur(6px);
}

.img-card:hover .hover-content {
  opacity: 1;
  margin: 0;
  background-color: hsla(0, 0%, 0%, 0.414);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
}

.player-name{
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin: 0;
}
.player-type{
  font-size: 1.5rem;
  font-weight: 600;
}
.player-address{
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
.player-type-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 25px;
  border-radius: 5px;
  padding: 0 0.5rem;
  background-color: white;
  color: black;
}

.hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  opacity: 0  ;
  transition: opacity 0.3s;
  z-index: 1; 

}
.button-container {
  width: 100%;
  margin-left: 2rem;
  gap: 3rem;
  margin-top: 20px;
  color: white;
}

.socials-btn {
  transition: transform 0.3s ease-in-out;
  font-size: 3rem;
  cursor: pointer;
}
.socials-btn:hover{
  /* color: blueviolet; */
  transform: scale(1.2);
}
.hover-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(3, 3, 3);
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  z-index: 1; 
}

.button-container {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  position: relative;
  top: 10rem;
  padding: 10px;
  background-color: blueviolet;
}

.button-container button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.player-details-wrap{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: aqua; */
}

@media (max-width: 1023px) {
  .img-card {
    border: 1.5px solid rgb(240, 240, 240);  
  }
  .img-card .hover-content {
    opacity: 1;
    background-color: hsla(0, 0%, 0%, 0);
    backdrop-filter: blur(0px); 
    /* clip-path: polygon(0% 51%, 100% 50.8%, 100% 100%, 0% 100%); */
  }
 .player-details-wrap{
  background-color: hsla(0, 0%, 0%, 0.414);
  width: 100%;
  position: relative;
  top: 12.2rem;
}
}
@media (max-width: 768px) {
  .playercard-wrap {
    grid-template-columns: repeat(auto-fit, minmax(130px, 230px));
  }
  .pteam-header{
    font-size: 4em;
}
.player-name{
  font-size: 0.6em;
}
.player-type{
  font-size: 0.5em;
}
.player-address{
  font-size: 0.5em;
}
.player-type-box{
  height: 20px;
  /* padding: 0 0.5rem; */
  background-color: white;
  color: black;
}
.socials-btn{
  font-size: 1.8rem;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  position: relative;
  top: 7rem;
  padding: 0px;
  background-color: blueviolet;
}
.player-details-wrap{
  top: 10rem;
}
}
@media (max-width: 320px) {
  .playercard-wrap {
    grid-template-columns: repeat(auto-fit, minmax(130px, 140px));
  }
  .pteam-header{
    font-size: 2em;
  }
  .player-name{
    font-size: 0.4em;
  }
  .player-type{
    font-size: 0.3em;
  }
  .player-address{
    font-size: 0.3em;
  }
  .player-type-box{
    height: 10px;
    /* padding: 0 0.5rem; */
    background-color: white;
    color: black;
  }
  .socials-btn{
    position: relative;
    bottom: 1rem;
    font-size: 1rem;
    margin: 0;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    position: relative;
    top: 4.5rem;
    padding: 0;
    background-color: rgb(137, 43, 226);
  }
  .player-details-wrap{
    top: 7rem;
  }
}

